body {
  background-image: url("/static/images/nza_background.jpg");
  background-size: cover;
}

.container {
  display: flex;
  justify-content: space-evenly;
}

.column {
  margin-top: 50px;
  margin-bottom: 50px;
  height: 250vh;
  width: 70%;
  background-color: white;
}

.placeholder1 {
  margin-top: 45px;
  margin-left: 75px;
}

.button {
  background-color: lightgrey;
  color: black;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
  display: flex;
  float: right;
  margin-right: 40px;
  border-radius: 5px;
  border-color: lightgray;
}

.navbar ul li {
  display: inline;
  padding: 10px;
  margin-left: 20px;
}

.container2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1.7fr 0.3fr 1fr;
  grid-template-rows: 0.7fr 1.1fr 1.2fr;
  gap: 25px 25px;
  grid-auto-flow: row;
  grid-template-areas:
    "indexitem1 indexitem2 indexitem2 . ."
    "indexitem1 index-container index-container index-container ."
    ". index-container index-container index-container .";
}

.indexitem1 {
  grid-area: indexitem1;
  background-image: url(/static/images/nav_side_sub.jpg);
  color: white;
  
}

.indexitem1 ul li {
  list-style-type: none;
  padding: 5px;
}

.indexitem2 {
  grid-area: indexitem2;
}

.index-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 25px 25px;
  grid-auto-flow: row;
  grid-template-areas:
    "indexitem3 indexitem4"
    "indexitem5 indexitem6"
    "indexitem7 indexitem8"
    "indexitem9 indexitem10";
  grid-area: index-container;
}

.indexitem3 {
  grid-area: indexitem3;
}
#email {
  list-style-type: none;
  float: none;

}
#title {
  float: right;
  list-style-type: none;
}
.indexitem4 {
  grid-area: indexitem4;
}

.indexitem5 {
  grid-area: indexitem5;
}

.indexitem6 {
  grid-area: indexitem6;
}

.indexitem7 {
  grid-area: indexitem7;
}

.indexitem8 {
  grid-area: indexitem8;
}

.indexitem9 {
  grid-area: indexitem9;
}

.indexitem10 {
  grid-area: indexitem10;
}